.uploader {
	display: flex;
	justify-content: center;
}

.uploader-data {
	padding: 30px;
	margin-bottom: 15px;
	align-self: center;
	background-color: #fafafa;
	border: 1px solid lightgray;
}

.uploader-image-button {
	margin-right: 20px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.uploader-icon {
	margin-right: 10px;
}
.uploader-image-uploader {
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}

.uploader-image-field {
	display: none;
}

.uploader-actions {
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.uploader-progress {
	width: 100%;
}

@media (max-width: 768px) {
	.uploader {
		background-color: #fafafa;
		width: auto;
		position: sticky;
	}
}
